<template lang="pug">
  v-row(justify="center")
    v-col(
      cols="12"
      lg="8"
      xl="6"
    )
      ValidationObserver(
        v-slot="{ valid, handleSubmit }"
      )
        v-form
          v-row(justify="center")
            v-menu(
              v-model="inspection_date_menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            )
              template(v-slot:activator="{on}")
                v-col(
                  cols="12"
                  sm="6"
                )
                  ValidationProvider(
                    v-slot="{ errors }"
                    name="date"
                    rules="required"
                  )
                    v-text-field(
                      v-model="inspection.date"
                      :errorMessages="errors"
                      label="Date de la vérification"
                      readonly
                      v-on="on"
                      required
                    )
              v-date-picker(
                v-model="inspection.date"
                @input="inspection_date_menu = false"
                no-title
                scrollable
              )
            v-col(
              cols="12"
            )
              v-textarea(
                v-model="inspection.description"
                label="Description"
                auto-grow
                required
              )
            v-col(
              cols="12"
            )
              v-textarea(
                v-model="inspection.event"
                label="Événement marquant"
                auto-grow
                required
              )
          v-row
            v-col(
              v-for="batch_part in inspection.batch_parts"
              :key="inspection.equipment_batch_part_id"
              cols="12"
              sm="6"
            )
              v-card(
                flat
              )
                v-card-title(
                  class="subtitle-2"
                ) {{ batch_part.equipment_batch_part.identifier }}
                v-card-text
                  v-list(
                    dense
                  )
                    v-list-item(v-if="batch_part.equipment_batch_part.serial")
                      v-list-item-content
                        v-list-item-subtitle Numéro de série : 
                      v-list-item-content
                        v-list-item-title {{ batch_part.equipment_batch_part.serial }}
                    v-list-item(v-if="batch_part.equipment_batch_part.description")
                      v-list-item-content
                        v-list-item-subtitle Description : 
                      v-list-item-content
                        v-list-item-title {{ batch_part.equipment_batch_part.description }}
                  v-textarea(
                    v-model="batch_part.description"
                    label="Description"
                    auto-grow
                    required
                  )
                  v-checkbox(
                    v-model="batch_part.pass"
                    label="L'équipement est en état d'utilisation"
                    required
                  )
          v-row
            v-col(
              cols="12"
            )
              v-checkbox(
                v-if="inspection.batch_parts.length == 0"
                v-model="inspection.pass"
                label="L'équipement est en état d'utilisation"
                required
              )
          v-row(justify="space-around")
            v-col(cols="auto")
              v-btn(
                @click="$emit('cancel')"
              )
                slot(name="cancel") Annuler
            v-col(cols="auto")
              v-btn(
                :disabled="!valid"
                color="success"
                @click="handleSubmit(() => $emit('submit'))"
              )
                slot(name="submit") Envoyer
</template>

<script lang="coffee">
  import { ValidationObserver, ValidationProvider } from 'vee-validate'

  export default
    name: 'InspectionsForm'
    components: {
      ValidationObserver
      ValidationProvider
    }
    props:
      inspection: Object
      button: String
    data: () ->
      valid: false
      inspection_date_menu: false
</script>
