<template lang="pug">
  ValidationProvider(
    v-slot="{ errors }"
    name="catégorie"
    rules="required"
  )
    v-select(
      v-model="equipment.category_id"
      :errorMessages="errors"
      label="Catégorie"
      :items="equipment_categories"
      item-text="name"
      item-value="id"
    )
      template(#append-outer)
        v-btn(fab color="primary" @click="$emit('add_equipment_category')")
          v-icon mdi-plus
</template>

<script lang="coffee">
  import { mapGetters } from 'vuex'
  import { ValidationProvider } from 'vee-validate'

  export default
    name: 'EquipmentCategoriesFormSelect'
    components: {
      ValidationProvider
    }
    props:
      equipment: Object
    computed: {
      ...mapGetters(['equipment_categories'])
    }
</script>
