<template lang="pug">
  v-row
    v-col(
      cols="12"
      sm="8"
      md="6"
      lg="5"
      xl="4"
      class="mx-auto"
    )
      EquipmentCategoriesFormFluid(
        :equipment_category="equipment_category"
        @cancel="$emit('cancel')"
        @submit="$emit('submit')"
      )
        template(#cancel)
          slot(name="cancel")
        template(#submit)
          slot(name="submit")
</template>

<script lang="coffee">
  import EquipmentCategoriesFormFluid from '@/components/EquipmentCategories/FormFluid.vue'

  export default
    name: 'EquipmentCategoriesForm'
    components: {
      EquipmentCategoriesFormFluid
    }
    props:
      equipment_category: Object
</script> 
