<template lang="pug">
  v-dialog(v-model="dialog_data" width=500)
    v-card
      v-card-title Ajouter une catégorie
      v-card-text
        EquipmentCategoriesFormFluid(:equipment_category="equipment_category" @submit="submit" @cancel="$emit('close_dialog')")
          template(#cancel)
            slot(name="cancel")
          template(#submit)
            slot(name="submit")
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import EquipmentCategoriesFormFluid from '@/components/EquipmentCategories/FormFluid.vue'

  export default
    name: 'EquipmentCategoriesFormDialog'
    components: {
      EquipmentCategoriesFormFluid
    }
    props:
      dialog: false
      equipment: Object
    data: () ->
      equipment_category: {}
    computed: {
      ...mapGetters(['newEquipmentCategory'])
      dialog_data:
        get: () ->
          this.dialog
        set: (value) ->
          this.$emit('close_dialog') if !value
    }
    created: () ->
      store_builder(this, 'equipment_category', this, (getters) => getters.newEquipmentCategory())
    methods: {
      ...mapActions(['createEquipmentCategory'])
      submit: () ->
        await this.createEquipmentCategory(this.equipment_category)
        this.equipment.category_id = this.equipment_category.id
        this.equipment_category = this.newEquipmentCategory()
        this.$emit('close_dialog')
    }
</script>

