<template lang="pug">
  v-card
    v-card-title
      v-toolbar(flat dense)
        v-toolbar-title {{ category.name }}
        v-spacer
        v-btn(icon :to="{ name: 'equipment-categories-edit', params: { id: category.id } }")
          v-icon(small) mdi-pencil
        v-dialog(v-if="category.equipment.length == 0" v-model="delete_dialog" width=500)
          template(v-slot:activator="{on}")
            v-btn(icon v-on="on")
              v-icon(small) mdi-delete
          v-card
            v-card-title Confirmer la suppression
            v-card-actions
              v-btn(@click="delete_dialog = false") Annuler
              v-spacer
              v-btn(color="error" @click="deleteEquipmentCategory(category); delete_dialog = false") Supprimer
    v-card-text
      v-list
        v-list-item
          v-list-item-content
            v-list-item-subtitle Nombre d'équipements : 
          v-list-item-content
            v-list-item-title {{ category.equipment.length || 0}}
</template>

<script lang="coffee">
  import { mapActions } from 'vuex'

  export default
    name: 'EquipmentCategoriesListCategory'
    props:
      category: Object
    data: () ->
      delete_dialog: false
    methods: {
      ...mapActions(['deleteEquipmentCategory'])
    }
</script>

