<template lang="pug">
  v-data-iterator(
    :items="equipment_categories"
    sort-by="name"
    must-sort
  )
    template(#header)
      v-btn(fab color="primary" :to="{ name: 'equipment-categories-create' }")
        v-icon mdi-plus
    template(#default="props")
      v-row
        v-slide-x-transition(
          v-for="item in props.items"
          :key="item.id"
        )
          v-col(
            cols="12"
            md="6"
            xl="4"
         )
           EquipmentCategoriesListCategory(
             :category="item"
           )
</template>

<script lang="coffee">
  import { mapActions } from 'vuex'
  import EquipmentCategoriesListCategory from '@/components/EquipmentCategories/ListCategory.vue'

  export default
    name: 'EquipmentCategoriesList'
    components: {
      EquipmentCategoriesListCategory
    }
    props:
      equipment_categories: Array
</script>
