<template lang="pug">
  InspectionsForm(:inspection="inspection" @submit="submit" @cancel="$router.back()")
    template(#submit) Ajouter
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import InspectionsForm from '@/components/Inspections/Form.vue'

  export default
    name: 'InspectionsCreate'
    components: {
      InspectionsForm
    }
    data: () ->
      inspection: {}
    computed: {
      ...mapGetters(['newInspection'])
    }
    created: () ->
      store_builder(this, 'inspection', this, (getters) => getters.newInspection(this.$route.params.equipment_id))
    methods: {
      ...mapActions(['createInspection'])
      submit: () ->
        this.createInspection(this.inspection)
        this.$router.push({ name: 'equipment' })
    }
</script>
