<template lang="pug">
  AttachmentsForm(:attachment="attachment" @submit="submit" @cancel="$router.back()")
    template(#submit) Ajouter
</template>

<script lang="coffee">
  import AttachmentsForm from '@/components/Attachments/Form.vue'
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'

  export default
    name: 'AttachmentsCreate'
    components: {
      AttachmentsForm
    }
    data: () ->
      attachment: {}
    computed: {
      ...mapGetters(['newAttachment'])
    }
    created: () ->
      store_builder(this, 'attachment', this, (getters) => getters.newAttachment())
    methods: {
      ...mapActions(['createAttachment'])
      submit: () ->
        this.createAttachment(this.attachment)
        this.$router.push({ name: 'attachments' })
    }
</script>
