<template lang="pug">
  AttachmentsForm(:attachment="attachment" @submit="submit" @cancel="$router.back()")
    template(#submit) Modifier
</template>

<script lang="coffee">
  import AttachmentsForm from '@/components/Attachments/Form.vue'
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'

  export default
    name: 'AttachmentsEdit'
    components: {
      AttachmentsForm
    }
    data: () ->
      attachment: {}
    computed: {
      ...mapGetters(['editAttachment'])
    }
    created: () ->
      store_builder(this, 'attachment', this, (getters) => getters.editAttachment(this.$route.params.id))
    methods: {
      ...mapActions(['updateAttachment'])
      submit: () ->
        this.updateAttachment(this.attachment)
        this.$router.push({ name: 'attachments' })
      ...mapActions(['updateAttachments'])
    }
</script>
