<template lang="pug">
  v-container
    AttachmentsList(:attachments="attachments")
</template>

<script lang="coffee">
  import AttachmentsList from '@/components/Attachments/List.vue'
  import { mapGetters } from "vuex"

  export default
    name: 'AttachmentsIndex'
    components: {
      AttachmentsList
    }
    computed: {
      ...mapGetters(['attachments'])
    }
</script>
