<template lang="pug">
  div
    ValidationProvider(
      v-slot="{ errors }"
      name="identifiant"
      :rules="{ required: true, uniqueness: { collection: batch_parts_identifiers, case_sensitive: false } }"
    )
      v-text-field(
        v-model="batch_part.identifier"
        :errorMessages="errors"
        label="Identifiant"
        required
      )
        template(#append-outer)
          v-btn(
            icon
            class="text--secondary"
            @click="batch_part_delete()"
          )
            v-icon mdi-delete
    v-text-field(
      v-model="batch_part.serial"
      label="Numéro de série"
      required
    )
    v-textarea(
      v-model="batch_part.description"
      label="Description"
      auto-grow
      required
    )
</template>

<script lang="coffee">
  import { mapGetters } from 'vuex'
  import { ValidationProvider } from 'vee-validate'

  export default
    name: 'EquipmentFormBatchPart'
    components: {
      ValidationProvider
    }
    props:
      equipment: Object
      batch_part: Object
    computed: {
      ...mapGetters({equipment_list: 'equipment'})
      batch_parts_identifiers: () ->
        batch_parts = []
        batch_parts = batch_parts.concat(batch_parts_i) for batch_parts_i in (equipment.batch_parts for equipment in this.equipment_list)
        batch_parts = (batch_part.identifier for batch_part in batch_parts when batch_part.id != this.batch_part.id)
        batch_parts = batch_parts.concat(equipment.identifier for equipment in this.equipment_list when equipment.id != this.equipment.id)
    }
    methods:
      batch_part_delete: () ->
        this.equipment.batch_parts.splice(this.equipment.batch_parts.indexOf(this.batch_part), 1)
</script>
