<template lang="pug">
  v-row(justify="center")
    v-col(
      cols="12"
      lg="8"
      xl="6"
    )
      EquipmentCategoriesFormDialog(:equipment="equipment" :dialog="add_category_dialog" @close_dialog="add_category_dialog = false")
        template(#submit) Ajouter
      AttachmentsSelectDialog(:equipment="equipment" :dialog="add_attachments_dialog" @close_dialog="add_attachments_dialog = false")
        template(#submit) Ajouter les fichiers sélectionnés
      ValidationObserver(
        v-slot="{ valid, handleSubmit }"
      )
        v-form
          v-row(justify="center")
            v-col(
              cols="12"
              sm="6"
            )
              ValidationProvider(
                v-slot="{ errors }"
                name="identifiant"
                :rules="{ required: true, uniqueness: { collection: equipment_identifiers, case_sensitive: false } }"
              )
                v-text-field(
                  v-model="equipment.identifier"
                  :errorMessages="errors"
                  label="Identifiant"
                  required
                )
          v-row(
            align="center"
          )
            v-col(
              cols="12"
              sm="6"
            )
              ValidationProvider(
                v-slot="{ errors }"
                name="fabriquant"
                rules="required"
              )
                v-text-field(
                 v-model="equipment.make"
                  :errorMessages="errors"
                  label="Fabricant"
                )
            v-col(
              cols="12"
              sm="6"
            )
              ValidationProvider(
                v-slot="{ errors }"
                name="modèle"
                rules="required"
              )
                v-text-field(
                  v-model="equipment.model"
                  :errorMessages="errors"
                  label="Modèle"
                )
            v-col(
              cols="12"
              sm="6"
            )
              v-text-field(
                v-model="equipment.serial"
                label="Numéro de série"
              )
            v-col(
              cols="12"
              sm="6"
            )
              EquipmentCategoriesFormSelect(:equipment="equipment" @add_equipment_category="add_category_dialog = true")
            v-col(
              cols="12"
            )
              v-textarea(
                v-model="equipment.description"
                label="Description"
                auto-grow
              )
          v-row(
            align="center"
          )
            v-col(cols="auto")
              v-checkbox(
                v-model="batch"
                label="Lot"
                class="mt-0 pt-0"
                hide-details
              )
            v-col(cols="auto")
              v-btn(
                v-if="batch"
                fab
                color="primary"
                @click="batch_part_add"
              )
                v-icon mdi-plus
          template(v-if="batch")
            v-row
              v-col(
                v-for="batch_part in equipment.batch_parts"
                :key="batch_part.form_id"
                cols="12"
                sm="6"
              )
                EquipmentFormBatchPart(
                  :equipment="equipment"
                  :batch_part="batch_part"
                )
          v-row
            v-menu(
              v-model="equipment_manufacturing_date_menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            )
              template(v-slot:activator="{on}")
                v-col(
                  cols="12"
                  sm="6"
                )
                  ValidationProvider(
                    v-slot="{ errors }"
                    name="date de fabrication"
                    rules="required"
                  )
                    v-text-field(
                      v-model="equipment.manufacturing_date"
                      :errorMessages="errors"
                      label="Date de fabrication"
                      readonly
                      v-on="on"
                    )
              v-date-picker(
                v-model="equipment.manufacturing_date"
                @input="equipment_manufacturing_date_menu = false"
                no-title
                scrollable
              )
            v-menu(
              v-model="equipment_purchase_date_menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            )
              template(v-slot:activator="{on}")
                v-col(
                  cols="12"
                  sm="6"
                )
                  ValidationProvider(
                    v-slot="{ errors }"
                    name="date d'achat"
                    rules="required"
                  )
                    v-text-field(
                      v-model="equipment.purchase_date"
                      :errorMessages="errors"
                      label="Date d'achat"
                      readonly
                      v-on="on"
                    )
              v-date-picker(
                v-model="equipment.purchase_date"
                @input="equipment_purchase_date_menu = false"
                no-title
                scrollable
              )
            v-menu(
              v-model="equipment_first_use_date_menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            )
              template(v-slot:activator="{on}")
                v-col(
                  cols="12"
                  sm="6"
                )
                  ValidationProvider(
                    v-slot="{ errors }"
                    name="date de première utilisation"
                    rules="required"
                  )
                    v-text-field(
                      v-model="equipment.first_use_date"
                      :errorMessages="errors"
                      label="Date de première utilisation"
                      readonly
                      v-on="on"
                    )
              v-date-picker(
                v-model="equipment.first_use_date"
                @input="equipment_first_use_date_menu = false"
                no-title
                scrollable
              )
            v-menu(
              v-model="equipment_end_of_use_date_menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            )
              template(v-slot:activator="{ on }")
                v-col(
                  cols="12"
                  sm="6"
                )
                  v-text-field(
                    v-model="equipment.end_of_use_date"
                    label="Date de fin d'utilisation"
                    readonly
                    clearable
                    v-on="on"
                  )
              v-date-picker(
                v-model="equipment.end_of_use_date"
                @input="equipment_end_of_use_date_menu = false"
                no-title
                scrollable
              )
          v-row(
            align="center"
          )
            v-col(cols="auto")
              v-label Fichiers liés
            v-col(cols="auto")
              v-btn(
                fab
                color="primary"
                @click="add_attachments_dialog = true"
              )
                v-icon mdi-plus
          v-row
            v-col(
              v-for="attachment in equipment.attachments"
              :key="attachment.name"
              cols="12"
              sm="6"
            )
              v-card
                v-card-title(
                  class="subtitle-2"
                )
                  span {{ attachment.name }}
                  v-spacer
                  v-btn(
                    icon
                    class="text--secondary"
                    @click="attachment_delete(attachment)"
                  )
                    v-icon mdi-delete
                v-card-text
                  v-list(subheader)
                    v-list-item(v-if="attachment.category")
                      v-list-item-content
                        v-list-item-subtitle Catégorie : 
                      v-list-item-content
                        v-list-item-title {{ attachment.category.name }}
          v-row(justify="space-around")
            v-col(cols="auto")
              v-btn(
                @click="$emit('cancel')"
              )
                slot(name="cancel") Annuler
            v-col(cols="auto")
              v-btn(
                :disabled="!valid"
                color="success"
                @click="handleSubmit(() => { $emit('submit') })"
              )
                slot(name="submit") Envoyer
</template>

<script lang="coffee">
  import { mapGetters } from 'vuex'
  import { ValidationObserver, ValidationProvider } from 'vee-validate'
  import EquipmentFormBatchPart from '@/components/Equipment/FormBatchPart.vue'
  import EquipmentCategoriesFormDialog from '@/components/EquipmentCategories/FormDialog.vue'
  import EquipmentCategoriesFormSelect from '@/components/EquipmentCategories/FormSelect.vue'
  import AttachmentsSelectDialog from '@/components/Attachments/SelectDialog.vue'

  export default
    name: 'EquipmentForm'
    components: {
      ValidationObserver
      ValidationProvider
      EquipmentFormBatchPart
      EquipmentCategoriesFormDialog
      AttachmentsSelectDialog
      EquipmentCategoriesFormSelect
    }
    props:
      equipment: Object
    data: () ->
      equipment_manufacturing_date_menu: false
      equipment_purchase_date_menu: false
      equipment_first_use_date_menu: false
      equipment_end_of_use_date_menu: false
      batch_data: null
      attachments: []
      add_category_dialog: false
      add_attachments_dialog: false
    computed: {
      ...mapGetters(['newEquipmentBatchPart'])
      ...mapGetters({equipment_list: 'equipment'})
      batch: 
        get: () ->
          if this.batch_data? then this.batch_data else this.equipment.batch_parts.length > 0
        set: (value) ->
          this.batch_part_add() if value && this.equipment.batch_parts.length == 0
          this.batch_data = value
      equipment_identifiers: () ->
        equipment.identifier for equipment in this.equipment_list when equipment.id != this.equipment.id
    }
    methods:
      batch_part_add: () ->
        batch_part = this.newEquipmentBatchPart(this.equipment)
        batch_part.form_id = if this.equipment.batch_parts.length == 0 then 1 else this.equipment.batch_parts[this.equipment.batch_parts.length - 1].form_id + 1
        this.equipment.batch_parts.push(batch_part)
      attachment_delete: (attachment) ->
        this.equipment.attachments.splice(this.equipment.attachments.indexOf(attachment), 1)
</script>
