<template lang="pug">
  v-expansion-panel(
  )
    v-expansion-panel-header
      v-toolbar(flat dense)
        v-toolbar-title(
          :class="{ 'error--text text--strikethrough': !inspection.pass}"
          class="subtitle-1"
        ) {{ inspection.date }}
        v-spacer
        v-btn(
          icon
          :to="{ name: 'inspections-edit', params: { equipment_id: inspection.equipment_id, id: inspection.id } }"
        )
          v-icon(small) mdi-pencil
        v-dialog(v-model="delete_dialog" width=500)
          template(v-slot:activator="{on}")
            v-btn(icon v-on="on")
              v-icon(small) mdi-delete
          v-card
            v-card-title Confirmer la suppression
            v-card-actions
              v-btn(@click="delete_dialog = false") Annuler
              v-spacer
              v-btn(color="error" @click="deleteInspection(inspection); delete_dialog = false") Supprimer
    v-expansion-panel-content
      v-list(subheader)
        v-list-item(v-if="inspection.description")
          v-list-item-content
            v-list-item-subtitle Description :
            v-list-item-title {{ inspection.description }}
        v-list-item(v-if="inspection.event")
          v-list-item-content
            v-list-item-subtitle Événement marquant :
            v-list-item-title {{ inspection.event }}
      template(
        v-if="inspection.batch_parts.length > 0"
      )
        v-slide-y-transition(
          v-for="batch_part in inspection.batch_parts"
          :key="batch_part.id"
        )
          v-card(
            v-show="show_all || equipmentBatchPartInspectionsPass(batch_part.equipment_batch_part)"
            outlined
          )
            v-card-title(
              :class="{ 'error--text text--strikethrough': !batch_part.pass }"
              class="subtitle-2"
            ) {{ batch_part.equipment_batch_part.identifier }}
            v-card-text
              v-list(subheader)
                v-list-item(v-if="batch_part.description")
                  v-list-item-content
                    v-list-item-subtitle Description : 
                    v-list-item-title {{ batch_part.description }}
      template(v-if="!inspection.description && !inspection.event && inspection.batch_parts.length == 0")
        span Aucune informtion enregistrée
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'

  export default
    name: 'EquipmentListInspection'
    props:
      inspection: Object
      show_all: Boolean
    data: () ->
      delete_dialog: false
    computed: {
      ...mapGetters(['equipmentBatchPartInspectionsPass'])
    }
    methods: {
      ...mapActions(['deleteInspection'])
    }
</script>
