<template lang="pug">
  v-card
    v-card-title
      v-toolbar(flat dense)
        v-toolbar-title(
          v-bind:class=`{
            'error--text text--strikethrough': !equipmentInspectionsPass(equipment),
            'error--text': equipmentUseOverdue(equipment),
            'warning--text': equipmentInspectionOverdue(equipment)
          }`
        ) {{ equipment.identifier }}
        v-spacer
        v-btn(icon :to="{ name: 'equipment-edit', params: { id: equipment.id } }")
          v-icon(small) mdi-pencil
        v-dialog(v-model="delete_dialog" width=500)
          template(v-slot:activator="{on}")
            v-btn(icon v-on="on")
              v-icon(small) mdi-delete
          v-card
            v-card-title Confirmer la suppression
            v-card-actions
              v-btn(@click="delete_dialog = false") Annuler
              v-spacer
              v-btn(color="error" @click="deleteEquipment(equipment); delete_dialog = false") Supprimer
    v-divider
    v-expansion-panels(
      v-model="panel"
      multiple
      accordion
      class="outlined"
    )
      v-expansion-panel
        v-expansion-panel-header Caractéristiques
        v-expansion-panel-content
          v-list(subheader)
            v-list-item
              v-list-item-content
                v-list-item-subtitle Marque :
              v-list-item-content
                v-list-item-title {{ equipment.make }}
            v-list-item
              v-list-item-content
                v-list-item-subtitle Modèle :
              v-list-item-content
                v-list-item-title {{ equipment.model }}
            v-list-item(v-if="equipment.serial")
              v-list-item-content
                v-list-item-subtitle Numéro de série :
              v-list-item-content
                v-list-item-title {{ equipment.serial }}
            v-list-item(v-if="equipment.description")
              v-list-item-content
                v-list-item-subtitle Description :
                v-list-item-title {{ equipment.description }}
            v-list-item(v-if="equipment.category")
              v-list-item-content
                v-list-item-subtitle Catégorie :
              v-list-item-content
                v-list-item-title {{ equipment.category.name }}
            v-list-item
              v-list-item-content
                v-list-item-subtitle Date de fabrication :
              v-list-item-content
                v-list-item-title {{ equipment.manufacturing_date }}
            v-list-item
              v-list-item-content
                v-list-item-subtitle Date d'achat :
              v-list-item-content
                v-list-item-title {{ equipment.purchase_date }}
            v-list-item
              v-list-item-content
                v-list-item-subtitle Date de fin de vie :
              v-list-item-content
                v-list-item-title {{ equipment.end_of_use_date }}
      template(v-if="equipment.batch_parts.length > 0")
        v-expansion-panel
          v-expansion-panel-header Lot
          v-expansion-panel-content
            v-slide-y-transition(
              v-for="batch_part in equipment.batch_parts"
              :key="batch_part.identifier"
            )
              v-card(
                v-show="show_all || equipmentBatchPartInspectionsPass(batch_part)"
                outlined
              )
                v-card-title(
                  :class="{ 'error--text text--strikethrough': !equipmentBatchPartInspectionsPass(batch_part)}"
                  class="subtitle-2"
                ) {{ batch_part.identifier }}
                v-card-text
                  v-list(subheader)
                    v-list-item(v-if="batch_part.serial")
                      v-list-item-content
                        v-list-item-subtitle Numéro de série : 
                      v-list-item-content
                        v-list-item-title {{ batch_part.serial }}
                    v-list-item(v-if="batch_part.description")
                      v-list-item-content
                        v-list-item-subtitle Description : 
                        v-list-item-content {{ batch_part.description }}
      template(v-if="equipment.attachments.length > 0")
        v-expansion-panel
          v-expansion-panel-header Fichiers liés
          v-expansion-panel-content
            EquipmentListAttachment(
              v-for="attachment in equipment.attachments"
              :key="attachment.id"
              :attachment="attachment"
              :show_all="show_all"
            )
      template(v-if="equipment.inspections.length > 0")
        v-expansion-panel
          v-expansion-panel-header Vérifications
          v-expansion-panel-content
            v-card(outlined)
              v-expansion-panels(multiple class="outlined")
                EquipmentListInspection(
                  v-for="inspection in equipment.inspections"
                  :key="inspection.id"
                  :inspection="inspection"
                  :show_all="show_all"
                )
    template(
      v-if="equipmentInspectionsPass(equipment)"
    )
      v-divider
      v-card-actions
        v-btn(
          text
          :to="{ name: 'inspections-create', params: { equipment_id: equipment.id } }"
        ) Vérifier
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'
  import EquipmentListInspection from '@/components/Equipment/ListInspection.vue'
  import EquipmentListAttachment from '@/components/Equipment/ListAttachment.vue'

  export default
    name: 'EquipmentListEquipment'
    components: {
      EquipmentListInspection
      EquipmentListAttachment
    }
    props:
      equipment: Object
      show_all: Boolean
    data: () ->
      delete_dialog: false
      panel: [0]
    computed: {
      ...mapGetters(['equipmentInspectionsPass', 'equipmentBatchPartInspectionsPass', 'equipmentInspectionOverdue', 'equipmentUseOverdue'])
    }
    methods: {
      ...mapActions(['deleteEquipment'])
    }
</script>
