<template lang="pug">
  v-data-iterator(
    :items="equipment"
    :search="search"
    :custom-filter="filter"
    :custom-sort="sort"
    sort-by="identifier"
    must-sort
  )
    template(#header)
      v-row(align="center")
        v-col(cols="auto")
          v-btn(
            fab
            color="primary"
            :to="{ name: 'equipment-create' }"
          )
            v-icon mdi-plus
        v-col(cols="auto")
          v-btn(
            fab
            color="primary"
            @click="exportEquipment"
          )
            v-icon mdi-download
      v-row(align="center" justify="space-between")
        v-col(cols="auto")
          v-switch(
            v-model="show_all"
            label="Rebut"
            hide-details
            class="mt-0 pt-0"
          )
        v-col(
          cols="9"
          sm="5"
          md="6"
          lg="5"
        )
          v-select(
            v-model="filter_categories"
            label="Catégorie"
            :items="equipment_categories"
            item-text="name"
            item-value="id"
            clearable
            hide-details
            flat
            multiple
            chips
            outlined
          )
        v-col(
          cols="12"
          sm="5"
          md="auto"
          lg="5"
        )
          v-text-field(
            v-model="search"
            label="Rechercher"
            clearable
            flat
            hide-details
            prepend-inner-icon="mdi-magnify"
            outlined
          )
    template(#default="props")
      v-row
        v-slide-x-transition(
          v-for="item in props.items"
          :key="item.id"
        )
          v-col(
            cols="12"
            md="6"
            xl="4"
         )
           EquipmentListEquipment(:equipment="item" :show_all="show_all")
</template>

<script lang="coffee">
  import { sortItems } from 'vuetify/lib/util/helpers'
  import { mapActions, mapGetters } from 'vuex'
  import download from '@/lib/download'
  import PPE from '@/services/PPE'
  import EquipmentListEquipment from '@/components/Equipment/ListEquipment.vue'

  export default
    name: 'EquipmentList'
    components: {
      EquipmentListEquipment
    }
    props:
      equipment: Array
    data: () ->
      show_all: false
      search: ''
      filter_categories: []
      panel: [0]
    computed: {
      ...mapGetters(['equipmentInspectionsPass'])
      ...mapGetters(['equipment_categories'])
    }
    methods:
      filter: (items) ->
        items.filter((item) =>
          match = this.show_all || this.equipmentInspectionsPass(item)
          if this.filter_categories.length > 0
            match &&= this.filter_categories.includes(item.category.id)
          if this.search
            search_match = false
            search_match ||= value.toLowerCase().includes(this.search.toLowerCase()) for value in Object.values(item) when typeof(value) == "string"
            match &&= search_match
          match
        )
      sort: (items, sortBy, sortDesc, locale) ->
        stringCollator = new Intl.Collator(locale, { sensitivity: 'accent', usage: 'sort', numeric: 'true' })
        sortItems(items, sortBy, sortDesc, locale, {
          identifier: (sortA, sortB) ->
            [sortA, sortB] = [sortA, sortB].map((s) -> (s || '').toString().toLocaleLowerCase())
            return stringCollator.compare(sortA, sortB)
        })
      exportEquipment: () ->
        response = await PPE.exportEquipment()
        download(response.data, 'export.zip')
</script>
