<template lang="pug">
  v-card(outlined)
    v-card-title(
      class="subtitle-2"
    ) {{ attachment.name }}
    v-card-text
      v-list(subheader)
        v-list-item(v-if="attachment.category")
          v-list-item-content
            v-list-item-subtitle Catégorie : 
          v-list-item-content
            v-list-item-title {{ attachment.category.name }}
        v-list-item(v-if="attachment.file.url")
          v-list-item-content
            v-list-item-subtitle Fichier :
          v-list-item-content
            v-list-item-title
              a(
                :href="attachment.file.url"
              ) {{ attachment.file.url.split('/').reverse()[0] }}
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'

  export default
    name: 'EquipmentListAttachment'
    props:
      attachment: Object
</script>
