<template lang="pug">
  AttachmentsCategoriesForm(:attachments_category="attachments_category" @submit="submit" @cancel="$router.back()")
    template(#submit) Ajouter
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import AttachmentsCategoriesForm from '@/components/AttachmentsCategories/Form.vue'

  export default
    name: 'AttachmentsCategoriesCreate'
    components: {
      AttachmentsCategoriesForm
    }
    data: () ->
      attachments_category: {}
    computed: {
      ...mapGetters(['newAttachmentsCategory'])
    }
    created: () ->
      store_builder(this, 'attachments_category', this, (getters) => getters.newAttachmentsCategory())
    methods: {
      ...mapActions(['createAttachmentsCategory'])
      submit: () ->
        this.createAttachmentsCategory(this.attachments_category)
        this.$router.push({ name: 'attachments-categories' })
    }
</script>
