<template lang="pug">
  v-container
    AttachmentsCategoriesList(:attachments_categories="attachments_categories")
</template>

<script lang="coffee">
  import { mapGetters } from "vuex"
  import AttachmentsCategoriesList from '@/components/AttachmentsCategories/List.vue'

  export default
    name: 'AttachmentsCategoriesIndex'
    components: {
      AttachmentsCategoriesList
    }
    computed: {
      ...mapGetters(['attachments_categories'])
    }
</script>
