<template lang="pug">
  div
    AttachmentsCategoriesFormDialog(:attachment="attachment" :dialog="add_category_dialog" @close_dialog="add_category_dialog = false")
      template(#submit) Ajouter
    ValidationObserver(
      v-slot="{ valid, handleSubmit }"
    )
      v-form
        v-row(justify="center")
          v-col(
            cols="12"
            sm="6"
          )
            ValidationProvider(
              v-slot="{ errors }"
              name="nom"
              :rules="{ required: true, uniqueness: { collection: attachments_names, case_sensitive: false } }"
            )
              v-text-field(
                v-model="attachment.name"
                :errorMessages="errors"
                label="Nom"
              )
            ValidationProvider(
              v-slot="{ validate, errors }"
              name="fichier"
              rules="required|mimes:image/*,application/pdf"
            )
              v-file-input(
                v-model="attachment.file"
                :errorMessages="errors"
                label="Fichier"
              )
          v-col(
            cols="12"
            sm="6"
          )
            AttachmentsCategoriesFormSelect(:attachment="attachment" @add_attachments_category="add_category_dialog = true")
        v-row(justify="space-around")
          v-col(cols="auto")
            v-btn(
              @click="$emit('cancel')"
            )
              slot(name="cancel") Annuler
          v-col(cols="auto")
            v-btn(
              :disabled="!valid"
              color="success"
              @click="handleSubmit(() => { $emit('submit') })"
            )
              slot(name="submit") Envoyer
</template>

<script lang="coffee">
  import { mapGetters } from 'vuex'
  import { ValidationObserver, ValidationProvider } from 'vee-validate'
  import AttachmentsCategoriesFormDialog from '@/components/AttachmentsCategories/FormDialog.vue'
  import AttachmentsCategoriesFormSelect from '@/components/AttachmentsCategories/FormSelect.vue'

  export default
    name: 'AttachmentsFormFluid'
    components: {
      ValidationObserver
      ValidationProvider
      AttachmentsCategoriesFormDialog
      AttachmentsCategoriesFormSelect
    }
    props:
      attachment: Object
    data: () ->
      add_category_dialog: false
    computed: {
      ...mapGetters({'attachments'})
      attachments_names: () ->
        attachment.name for attachment in this.attachments when attachment.id != this.attachment.id
    }
</script>
