<template lang="pug">
  v-row(justify="center")
    v-col(
      cols="12"
      lg="8"
      xl="6"
    )
      AttachmentsFormFluid(:attachment="attachment" @submit="$emit('submit')" @cancel="$emit('cancel')")
</template>

<script lang="coffee">
  import { mapGetters } from 'vuex'
  import AttachmentsFormFluid from '@/components/Attachments/FormFluid.vue'

  export default
    name: 'AttachmentsForm'
    components: {
      AttachmentsFormFluid
    }
    props: {
      attachment: Object
    }
</script>
