<template lang="pug">
  v-card
    v-card-title
      v-toolbar(flat dense)
        v-toolbar-title(
        ) {{ attachment.name }}
        v-spacer
        v-btn(icon :to="{ name: 'attachments-edit', params: { id: attachment.id } }")
          v-icon(small) mdi-pencil
        v-dialog(v-model="delete_dialog" width=500)
          template(v-slot:activator="{on}")
            v-btn(icon v-on="on")
              v-icon(small) mdi-delete
          v-card
            v-card-title Confirmer la suppression
            v-card-actions
              v-btn(@click="delete_dialog = false") Annuler
              v-spacer
              v-btn(color="error" @click="deleteAttachment(attachment); delete_dialog = false") Supprimer
    v-divider
    v-expansion-panels(
      v-model="panel"
      multiple
      accordion
      class="outlined"
    )
      v-expansion-panel
        v-expansion-panel-content
          v-list(subheader)
            v-list-item(v-if="attachment.category")
              v-list-item-content
                v-list-item-subtitle Catégorie :
              v-list-item-content
                v-list-item-title {{ attachment.category.name }}
            v-list-item(v-if="attachment.file.url")
              v-list-item-content
                v-list-item-subtitle Fichier :
              v-list-item-content
                v-list-item-title
                  a(
                    :href="attachment.file.url"
                  ) {{ attachment.file.url.split('/').reverse()[0] }}
      template(v-if="attachment.equipment.length > 0")
        v-expansion-panel
          v-expansion-panel-header Équipements liés
          v-expansion-panel-content
            AttachmentsListEquipment(
              v-for="equipment in attachment.equipment"
              :key="equipment.id"
              :equipment="equipment"
              :show_all="show_all"
            )
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'
  import AttachmentsListEquipment from '@/components/Attachments/ListEquipment.vue'

  export default
    name: 'AttachmentsListAttachments'
    components: {
      AttachmentsListEquipment
    }
    props:
      attachment: Object
      show_all: Boolean
    data: () ->
      delete_dialog: false
      panel: [0]
    methods: {
      ...mapActions(['deleteAttachment'])
    }
</script>
