<template lang="pug">
  v-card(outlined)
    v-card-title(class="subtitle-1"
        ) {{ equipment.identifier }}
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'

  export default
    name: 'AttachmentsListEquipment'
    props:
      equipment: Object
</script>
