<template lang="pug">
  v-data-iterator(
    :items="attachments"
    :search="search"
    :custom-filter="filter"
    sort-by="name"
    must-sort
  )
    template(#header)
      v-row(align="center")
        v-col(cols="auto")
          v-btn(
            fab
            color="primary"
            @click="dialog = true"
          )
            v-icon mdi-plus
        v-col(
          cols="6"
          v-if="$vuetify.breakpoint.sm"
        )
        v-col(
          cols="12"
          sm="6"
          md="auto"
        )
          v-text-field(
            v-model="search"
            label="Rechercher"
            clearable
            flat
            hide-details
            prepend-inner-icon="mdi-magnify"
            outlined
          )
        v-col(
          cols="12"
          sm="6"
          md="5"
          lg="6"
        )
          v-select(
            v-model="filter_categories"
            label="Catégorie"
            :items="attachments_categories"
            item-text="name"
            item-value="id"
            clearable
            hide-details
            flat
            multiple
            chips
            outlined
          )
    template(#default="props")
      v-dialog(v-model="dialog" width=500)
        v-card
          v-card-title Ajouter un fichier joint
          v-card-text
            AttachmentsFormFluid(:attachment="attachment" @submit="submit" @cancel="dialog = false")
              template(#submit) Ajouter
      v-row
        v-col(
          cols="12"
        )
          v-list(two-line)
            v-list-item-group(v-model="selected_attachments_data" multiple color="primary")
              v-list-item(
                v-for="item in props.items"
                :key="item.id"
                :value="item.id"
              )
                v-list-item-content
                  v-list-item-title {{ item.name }}
                  v-list-item-subtitle(v-if="item.category")
                    span Catégorie : 
                    span(class="text--primary") {{ item.category.name }}
      v-row(justify="center")
        v-col(cols="auto")
          v-btn(
            @click="$emit('cancel')"
          )
            slot(name="cancel") Annuler
        v-col(cols="1")
        v-col(cols="auto")
          v-btn(
            color="success"
            @click="$emit('submit')"
          )
            slot(name="submit") Sélectionner
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import AttachmentsListAttachment from '@/components/Attachments/ListAttachment.vue'
  import AttachmentsFormFluid from '@/components/Attachments/FormFluid.vue'

  export default
    name: 'AttachmentsList'
    components: {
      AttachmentsListAttachment
      AttachmentsFormFluid
    }
    props:
      attachments: Array
      selected_attachments: Array
    data: () ->
      show_all: false
      search: ''
      filter_categories: []
      dialog: false
      attachment: {}
    computed: {
      ...mapGetters(['attachments_categories', 'newAttachment'])
      selected_attachments_data:
        get: () ->
          this.selected_attachments
        set: (value) ->
          this.$emit('selected', value)
    }
    created: () ->
      store_builder(this, 'attachment', this, (getters) => getters.newAttachment())
    methods: {
      ...mapActions(['createAttachment', 'editAttachment'])
      filter: (items) ->
        items.filter((item) =>
          match = true
          if this.filter_categories.length > 0
            match &&= this.filter_categories.includes(item.category.id)
          if this.search
            search_match = false
            search_match ||= value.toLowerCase().includes(this.search.toLowerCase()) for value in Object.values(item) when typeof(value) == "string"
            match &&= search_match
          match
        )
      submit: () ->
        await this.createAttachment(this.attachment)
        a = this.selected_attachments_data
        a.push(this.attachment.id)
        this.selected_attachments_data = a
        this.attachment = this.newAttachment()
        this.dialog = false
    }
</script>
