<template lang="pug">
  v-data-iterator(
    :items="attachments"
    :search="search"
    :custom-filter="filter"
    sort-by="name"
    must-sort
  )
    template(#header)
      v-row(align="center")
        v-col(cols="auto")
          v-btn(
            fab
            color="primary"
            :to="{ name: 'attachments-create' }"
          )
            v-icon mdi-plus
        v-col(
          cols="6"
          v-if="$vuetify.breakpoint.sm"
        )
        v-col(
          cols="12"
          sm="6"
          md="auto"
        )
          v-text-field(
            v-model="search"
            label="Rechercher"
            clearable
            flat
            hide-details
            prepend-inner-icon="mdi-magnify"
            outlined
          )
        v-col(
          cols="12"
          sm="6"
          md="5"
          lg="6"
        )
          v-select(
            v-model="filter_categories"
            label="Catégorie"
            :items="attachments_categories"
            item-text="name"
            item-value="id"
            clearable
            hide-details
            flat
            multiple
            chips
            outlined
          )
    template(#default="props")
      v-row
        v-slide-x-transition(
          v-for="item in props.items"
          :key="item.id"
        )
          v-col(
            cols="12"
            md="6"
            xl="4"

         )
           AttachmentsListAttachment(:attachment="item" :show_all="show_all" :selectable="selectable")
</template>

<script lang="coffee">
  import { mapActions, mapGetters } from 'vuex'
  import AttachmentsListAttachment from '@/components/Attachments/ListAttachment.vue'

  export default
    name: 'AttachmentsList'
    components: {
      AttachmentsListAttachment
    }
    props:
      attachments: Array
      selectable: false
    data: () ->
      show_all: false
      search: ''
      filter_categories: []
    computed: {
      ...mapGetters(['attachments_categories'])
    }
    methods:
      filter: (items) ->
        items.filter((item) =>
          match = true
          if this.filter_categories.length > 0
            match &&= this.filter_categories.includes(item.category.id)
          if this.search
            search_match = false
            search_match ||= value.toLowerCase().includes(this.search.toLowerCase()) for value in Object.values(item) when typeof(value) == "string"
            match &&= search_match
          match
        )
</script>
