<template lang="pug">
  v-dialog(v-model="dialog_data" width="1000")
    v-card
      v-card-title Sélectionner des fichiers liés
      v-card-text
        AttachmentsListSelect(:attachments="selectable_attachments" :selected_attachments="selected_attachments" @submit="submit" @cancel="selected_attachments = []; $emit('close_dialog')" @selected="selected")
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import AttachmentsListSelect from '@/components/Attachments/ListSelect.vue'

  export default
    name: 'AttachmentsSelectDialog'
    components: {
      AttachmentsListSelect
    }
    props:
      dialog: false
      equipment: Object
    data: () ->
      selected_attachments: []
    computed: {
      ...mapGetters(['attachments', 'editAttachment'])
      dialog_data:
        get: () ->
          this.dialog
        set: (value) ->
          this.$emit('close_dialog') if !value
      selectable_attachments: () ->
        this.attachments.map((attachment) => this.editAttachment(attachment.id))
    }
    methods: {
      submit: () ->
        for attachment_id in this.selected_attachments
          attachment = this.selectable_attachments.find((attachment) => attachment_id == attachment.id)
          if !this.equipment.attachments.find((e_attachment) => e_attachment.id == attachment.id)
            this.equipment.attachments.push(attachment)
        this.selected_attachments = []
        this.$emit('close_dialog')
      selected: (attachments) ->
        this.selected_attachments = attachments
    }
</script>
