<template lang="pug">
  v-row
    v-col(
      cols="12"
      sm="8"
      md="6"
      lg="5"
      xl="4"
      class="mx-auto"
    )
      ValidationObserver(
        v-slot="{ valid, handleSubmit }"
      )
        v-form
          v-row
            v-col
              ValidationProvider(
                v-slot="{ errors }"
                name="email"
                :rules="{ required: true }"
              )
                v-text-field(
                  v-model="params.user.email"
                  :errorMessages="errors"
                  label="Courriel"
                )
              ValidationProvider(
                v-slot="{ errors }"
                name="password"
                :rules="{ required: true }"
              )
                v-text-field(
                  v-model="params.user.password"
                  :append-icon="password_show ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="password_show ? 'ntext' : 'password'"
                  @click:append="password_show = !password_show"
                  :errorMessages="errors"
                  label="Mot de passe"
                )
          v-row()
            v-col(cols="auto")
              v-checkbox(
                v-model="params.remember"
                label="Rester connecté"
              )
          v-row(justify="space-around")
            v-col(cols="auto")
              v-btn(
                :disabled="!valid"
                color="success"
                @click="submit"
              ) Se connecter
</template>

<script lang="coffee">
  import { ValidationObserver, ValidationProvider } from 'vee-validate'
  import { mapActions } from 'vuex'

  export default
    name: 'Login'
    components: {
      ValidationProvider
      ValidationObserver
    }
    data: () ->
      password_show: false
      params:
        user:
          email: ''
          password: ''
        remember: false
    methods: {
      ...mapActions(['login'])
      submit: () ->
        await this.login(this.params)
        this.$router.push({name: 'equipment'})
    }
</script>
