<template lang="pug">
  v-row(justify="space-around")
    v-col(cols="auto")
      v-btn(
        color="success"
        @click="submit"
      ) Se déconnecter
</template>

<script lang="coffee">
  import { mapActions } from 'vuex'

  export default
    name: 'Logout'
    methods: {
      ...mapActions(['logout'])
      submit: () ->
        this.logout()
        this.$router.push({name: 'login'})
    }
</script>
