<template lang="pug">
  EquipmentForm(:equipment="equipment" @submit="submit" @cancel="$router.back()")
    template(#submit) Ajouter
</template>

<script lang="coffee">
  import EquipmentForm from '@/components/Equipment/Form.vue'
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'

  export default
    name: 'EquipmentCreate'
    components: {
      EquipmentForm
    }
    data: () ->
      equipment: {}
    computed: {
      ...mapGetters(['newEquipment'])
    }
    created: () ->
      store_builder(this, 'equipment', this, (getters) => getters.newEquipment())
    methods: {
      ...mapActions(['createEquipment'])
      submit: () ->
        this.createEquipment(this.equipment)
        this.$router.push({ name: 'equipment' })
    }
</script>
