<template lang="pug">
</template>

<script lang="coffee">
  import download from '@/lib/download'
  import PPE from '@/services/PPE'

  export default
    name: 'EquipmentExport'
    created: () ->
      response = await PPE.exportEquipment()
      download(response.data, 'export.zip')
</script>
