<template lang="pug">
  v-container
    EquipmentList(:equipment="equipment")
</template>

<script lang="coffee">
  import EquipmentList from '@/components/Equipment/List.vue'
  import { mapGetters } from "vuex"

  export default
    name: 'EquipmentIndex'
    components: {
      EquipmentList
    }
    computed: {
      ...mapGetters(['equipment'])
    }
</script>
