<template lang="pug">
  EquipmentCategoriesForm(:equipment_category="equipment_category" @submit="submit" @cancel="$router.back()")
    template(#submit) Ajouter
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import EquipmentCategoriesForm from '@/components/EquipmentCategories/Form.vue'

  export default
    name: 'EquipmentCategoriesCreate'
    components: {
      EquipmentCategoriesForm
    }
    data: () ->
      equipment_category: {}
    computed: {
      ...mapGetters(['newEquipmentCategory'])
    }
    created: () ->
      store_builder(this, 'equipment_category', this, (getters) => getters.newEquipmentCategory())
    methods: {
      ...mapActions(['createEquipmentCategory'])
      submit: () ->
        this.createEquipmentCategory(this.equipment_category)
        this.$router.push({ name: 'equipment-categories' })
    }
</script>
