<template lang="pug">
  EquipmentCategoriesForm(:equipment_category="equipment_category" @submit="submit" @cancel="$router.back()")
    template(#submit) Modifier
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import EquipmentCategoriesForm from '@/components/EquipmentCategories/Form.vue'

  export default
    name: 'EquipmentCategoriesEdit'
    components: {
      EquipmentCategoriesForm
    }
    data: () ->
      equipment_category: {}
    computed: {
      ...mapGetters(['editEquipmentCategory'])
    }
    created: () ->
      store_builder(this, 'equipment_category', this, (getters) => getters.editEquipmentCategory(this.$route.params.id))
    methods: {
      ...mapActions(['updateEquipmentCategory'])
      submit: () ->
        this.updateEquipmentCategory(this.equipment_category)
        this.$router.push({ name: 'equipment-categories' })
    }
</script>
