<template lang="pug">
  v-container
    EquipmentCategoriesList(:equipment_categories="equipment_categories")
</template>

<script lang="coffee">
  import { mapGetters } from "vuex"
  import EquipmentCategoriesList from '@/components/EquipmentCategories/List.vue'

  export default
    name: 'EquipmentCategoriesIndex'
    components: {
      EquipmentCategoriesList
    }
    computed: {
      ...mapGetters(['equipment_categories'])
    }
</script>
