<template lang="pug">
  v-app
    v-app-bar(
      app
      color="primary"
      dark
    )

      v-app-bar-nav-icon(@click="drawer = true")

      v-toolbar-title Gestion des EPI

    v-navigation-drawer(
      v-model="drawer"
      absolute
      temporary
    )
      v-list(nav dense)
        v-list-item(:to="{ name: 'equipment' }" exact)
          v-list-item-icon
            v-icon mdi-shield-outline
          v-list-item-title Équipements
        v-list-item(:to="{ name: 'equipment-categories' }" exact)
          v-list-item-icon
            v-icon mdi-folder-open-outline
          v-list-item-title Catégories d'équipements
        v-list-item(:to="{ name: 'attachments' }" exact)
          v-list-item-icon
            v-icon mdi-file-document-outline
          v-list-item-title Fichiers liés
        v-list-item(:to="{ name: 'attachments-categories' }" exact)
          v-list-item-icon
            v-icon mdi-folder-open-outline
          v-list-item-title Catégories de fichiers liés
        v-list-item(:to="{ name: 'login' }" exact)
          v-list-item-icon
            v-icon mdi-account-arrow-right-outline
          v-list-item-title Connexion
        v-list-item(:to="{ name: 'logout' }" exact)
          v-list-item-icon
            v-icon mdi-account-arrow-left-outline
          v-list-item-title Déconnexion

    v-content
      v-container
        router-view
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'

  export default
    name: 'App'
    data: () ->
      drawer: false
    computed: {
      ...mapGetters(['logged', 'equipment'])
    }
    methods: {
      ...mapActions(['list', 'login_from_storage'])
    }
    created: () ->
      this.$router.beforeEach((to, from, next) =>
        if this.logged
          if !this.equipment.length
            this.list()
          next()
        else if to.name != 'login'
          next({name: 'login'})
        else
          next()
      )
      this.login_from_storage()
      if this.logged
        this.list()
      else if this.$router.currentRoute.name != 'login'
        this.$router.push({name: 'login'})
</script>
