<template lang="pug">
  ValidationObserver(
    v-slot="{ valid, handleSubmit }"
  )
    v-form
      v-row
        v-col
          ValidationProvider(
            v-slot="{ errors }"
            name="nom"
            :rules="{ required: true, uniqueness: { collection: attachments_categories_names, case_sensitive: false } }"
          )
            v-text-field(
              v-model="attachments_category.name"
              :errorMessages="errors"
              label="Nom"
            )
      v-row(justify="space-around")
        v-col(cols="auto")
          v-btn(
            @click="$emit('cancel')"
          )
            slot(name="cancel") Annuler
        v-col(cols="auto")
          v-btn(
            :disabled="!valid"
            color="success"
            @click="$emit('submit')"
          )
            slot(name="submit") Envoyer
</template>

<script lang="coffee">
  import { mapGetters } from "vuex"
  import { ValidationObserver, ValidationProvider } from 'vee-validate'

  export default
    name: 'AttachmentsCategoriesFormFluid'
    components: {
      ValidationProvider
      ValidationObserver
    }
    props:
      attachments_category: Object
    computed: {
      ...mapGetters(['attachments_categories'])
      attachments_categories_names: () ->
        category.name for category in this.attachments_categories when category.id != this.attachments_category.id
    }
</script> 
