<template lang="pug">
  v-row
    v-col(
      cols="12"
      sm="8"
      md="6"
      lg="5"
      xl="4"
      class="mx-auto"
    )
      AttachmentsCategoriesFormFluid(
        :attachments_category="attachments_category"
        @cancel="$emit('cancel')"
        @submit="$emit('submit')"
      )
        template(#cancel)
          slot(name="cancel")
        template(#submit)
          slot(name="submit")
</template>

<script lang="coffee">
  import AttachmentsCategoriesFormFluid from '@/components/AttachmentsCategories/FormFluid.vue'

  export default
    name: 'AttachmentsCategoriesForm'
    components: {
      AttachmentsCategoriesFormFluid
    }
    props:
      attachments_category: Object
</script> 
