<template lang="pug">
  v-dialog(v-model="dialog_data" width=500)
    v-card
      v-card-title Ajouter une catégorie
      v-card-text
        AttachmentsCategoriesFormFluid(:attachments_category="attachments_category" @submit="submit" @cancel="$emit('close_dialog')")
          template(#cancel)
            slot(name="cancel")
          template(#submit)
            slot(name="submit")
</template>

<script lang="coffee">
  import { mapGetters, mapActions } from 'vuex'
  import store_builder from '@/lib/store_builder'
  import AttachmentsCategoriesFormFluid from '@/components/AttachmentsCategories/FormFluid.vue'

  export default
    name: 'AttachmentsCategoriesFormDialog'
    components: {
      AttachmentsCategoriesFormFluid
    }
    props:
      dialog: false
      attachment: Object
    data: () ->
      attachments_category: {}
    computed: {
      ...mapGetters(['newAttachmentsCategory'])
      dialog_data:
        get: () ->
          this.dialog
        set: (value) ->
          this.$emit('close_dialog') if !value
    }
    created: () ->
      store_builder(this, 'attachments_category', this, (getters) => getters.newAttachmentsCategory())
    methods: {
      ...mapActions(['createAttachmentsCategory'])
      submit: () ->
        await this.createAttachmentsCategory(this.attachments_category)
        this.attachment.category_id = this.attachments_category.id
        this.attachments_category = this.newAttachmentsCategory()
        this.$emit('close_dialog')
    }
</script>
