<template lang="pug">
  v-data-iterator(
    :items="attachments_categories"
    sort-by="name"
    must-sort
  )
    template(#header)
      v-btn(fab color="primary" :to="{ name: 'attachments-categories-create' }")
        v-icon mdi-plus
    template(#default="props")
      v-row
        v-slide-x-transition(
          v-for="item in props.items"
          :key="item.id"
        )
          v-col(
            cols="12"
            md="6"
            xl="4"
         )
           AttachmentsCategoriesListCategory(
             :category="item"
           )
</template>

<script lang="coffee">
  import { mapActions } from 'vuex'
  import AttachmentsCategoriesListCategory from '@/components/AttachmentsCategories/ListCategory.vue'

  export default
    name: 'AttachmentsCategoriesList'
    components: {
      AttachmentsCategoriesListCategory
    }
    props:
      attachments_categories: Array
</script>
